.view {
    width: 100%;
    min-height: 80vh;
    position: relative;
}

.about {
    overflow: hidden;
    padding: 100px 0;
    padding: 240px 80px 80px;
}

.inner-container {
    width: 60%;
    max-width: 1200px;
    padding: 50px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.inner-container h1 {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    color:#fff;
}

.text {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}
