.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container img {
	height: 500px;
	width: 350px;
	border-radius: 3px;
	margin: 0 10px;
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
	transition: 0.5s ease;
}

.intro {
	width: 350px;
	height: 200px;
	padding: 6px;
	box-sizing: border-box;
	position: absolute;
	background: rgba(27, 27, 27, 0.5);
	color: #fff;
	bottom: 208px;
	transition: 0.5s;
	margin: 0 10px;
}

h1 {
	margin: 10px;
	font-size: 40px;
}

p {
	font-size: 20px;
	margin: 20px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s ease;
}

span {
	font-weight: bold;
}

.card:hover {
	cursor: pointer;
}

.card:hover .intro {
	height: 220px;
	bottom: 240px;
	background: black;
}

.card:hover p {
	visibility: visible;
	opacity: 1;
}

.card:hover img {
	transform: scale(1.1) rotate(-3deg);
}
