.view {
    width: 100%;
    min-height: 80vh;
    position: relative;
}

.container {
    max-width: 600px; 
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #808080;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-height: 600px;
}

h2 {
    text-align: center;
    color: #fff;
    font-size:2em;
}

.input-field {
    position: relative;
    margin-bottom: 20px;
}

    .input-field label {
        position: absolute;
        top: -25px;
        left: 10px;
        font-size: 14px;
        color: #fff;
        margin-top: 20px;
        align-content: space-between;
    }

    .input-field input {
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 2px solid #777777;
        outline: none;
        color: #fff;
        background-color:#808080;
        font-size:20px;
    }
    .input-field textarea {
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 2px solid #777777;
        outline: none;
        color: #fff;
        height: 200px;
        background-color: #808080;
        font-size: 20px;
    }

    .input-field textarea {

    }

.btn {
    display: block;
    margin: 0 auto;
    color: #EEFC11;
    font-size: 1vw;
    font-weight: 800;
    padding: 10px 20px;
    border: 2px solid #EEFC11;
    border-radius: 50px;
    background: transparent;
    text-transform: uppercase;
    transition: 0.3s ease;
    text-decoration: none;
}

    .btn:hover {
        color: #000000;
        cursor: pointer;
        letter-spacing: 1.5px;
        background: #EEFC11;
    }
